.news-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: none;
    padding: 20px;
    color: #000;
    font-size: 10px;
}
.dtitle {
    font-weight: 700;
    font-size: 12px;
}
.ddate {
    color: #808080;
}
.dsource span {
    color: #19b886;
}
.dcategory {
    padding: 5px 15px;
    background-color: #ececec;
    width: fit-content;
    border-radius: 5px;
    color: #808080;
}
