.breadcrumbs {
    width: none;
    height: 30px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}
a {
    color: #000;
    &:hover {
        color: unset;
    }
}
.breadcrumbs.news-list {
    background-color: #19b886;
}
.breadcrumbs.ctgs {
    background-color: #ff7f24;
}
.breadcrumbs.article-detail {
    background-color: #ff6060;
    justify-content: flex-start;
}
.breadcrumbs.all-news {
    background-color: #808080;
}
.breadcrumbs.single-ctgr {
    background-color: #19b886;
}
.back-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    color: #fff;
}
